/*----------- Medium screen -----------*/
@media only screen and (min-width: 576px) {
    .bg-banner{
        height: 85%;
    }
    .logo a {
        font-size: 4rem;
    }
    header li a.nav-link {
        font-size: 1.8rem;
    }
    .bar {
        width: 35px;
        height: 5px;
    }
    .banner-text,
    #home img {
        margin: 140px 2% 40px 1%;
    }
    .banner-text {
        width: 60%;
    }
    #home img {
        width: 20%;
    }
    #home h1 {
        font-size: 3rem;
    }
    #home img {
        width: 180px;
    }
    .know-more {
        margin-top: 180px;  
    }
    main {
        width: 80%;
        margin-top: 300px;
        margin-left: 10%;
    }
    .nav-footer li {
        font-size: 1.2rem;
    }
}
/*------------- Large screen -------------*/
@media only screen and (min-width: 992px) {
    .bg-banner{
        height: 100%;
    }
    .logo a {
        font-size: 5rem;
    }
    header li a.nav-link {
        font-size: 1.6rem;
    }
    .bar {
        width: 44px;
        height: 4px;
        margin: 8px auto;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    .social {
        height: 100%;
        right: 5px;
        position: fixed;
        display: flex;
        align-items: center;
    }
    .social ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social li {
        list-style: none;
        padding: 10px 4px;
    }
    .banner-text,
    #home img {
        margin-top: 150px;
    }
    .banner-text {
        width: 40%;
        padding: 10px;
    }
    #home h1 {
        font-size: 2.9rem;
    }
    #home img {
        width: 250px;
    }
    .know-more {
        width: 10%;
    }
    main {
        margin-top: 290px;
    }
    main h2 {
        font-size: 3rem;
    }
    main p,
    main li {
        font-size: 1.3rem;
    }
    .know-more {
        margin-top: 100px;
    }
    .tech-content li,
    .coreskills-content li {
    padding: 10px;
    }
    .contact-details {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .phone,
    .email,
    .location {
        padding-left: 10px;
        border-left: 4px solid var(--secondary-color);
    }
    #contact button {
        width: 25%;
    }
    #contact form {
        width: 80%;
        margin-left: 10%;
    }
}