:root {
    --light-color: #f8f8f8;
    --dark-color: #121212;
    --secondary-color: #00CFFF;
    --tertiary-color: #1A1A1A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid green;
}
body {
    color: var(--light-color);
    background-color: var(--dark-color);
    font-family: 'Ubuntu';
}
header {
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.bg-banner{
    position: absolute;
    background-image: url("/assets/bg-banner2.jpg");
    height: 55%;
    width:  100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
header img.logo {
    width: 15%;
    border-radius: 50%;
    display: block;
    margin-left: 30px;
    opacity: 0.9;
    z-index: 3;
}
header ul {
    background-color: rgba(10, 10, 10, 0.9);
}
header .nav-menu li {
    list-style: none;
    text-align: center;
}
header li a.nav-link {
    text-decoration: none;
    color: var(--light-color);
    font-size: 2.5rem;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-link:hover {
    color: var(--secondary-color);
}
.hamburger {
    cursor: pointer;
    margin-right: 40px;
    z-index: 1;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--light-color);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    width: 100%;
    transition: 0.3s;
}
.nav-menu.active {
    left: 0;
}
#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 390px;
}
#home h1 {
    font-size: 2.3rem;
}
#home h2 {
    color: var(--secondary-color);
}
#home img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}
main {
    margin: 15px 10px;
}
main h2 {
    text-align: center;
    font-size: 2rem;
}
#education {
    background-image: linear-gradient(to right, var(--dark-color), var(--tertiary-color));
}
#education .education-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tech-content {
    display: flex;
    justify-content: space-around;
}
.tech-content li {
    list-style: none;
}
.tech-content img {
    border-radius: 50%;
    width: 50px;
}

